* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* object-fit: cover; */
}

body {
    height: 100vh;
    background-image: linear-gradient(to right, #e29b20, #e4aa1c, #e5ba1a, #e4ca1c, #e1da23, #d7e32b, #cdeb34, #c1f340, #adf64c, #96f858, #7efa66, #5ffb74);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    display: inline;
    text-align: center;
    color: white;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    perspective: 800px;
}

.card {
    width: 120px;
    height: 120px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgb(0, 0, 0, 0.2) 0px 5px 15px;
    position: relative;

}

.face,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

}

.back {
    background-color: white;
    backface-visibility: hidden;
}

.toggleCard {
    transform: rotateY(180deg);
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.flipped,
.mached {
    pointer-events: none;
}